/* Style général */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

html {
  font-size: 1rem; /* Base scalable */
}

body {
  background: linear-gradient(to bottom, #002147, #0050ad);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Conteneur principal */
.container {
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Barre de navigation */
.bar {
  width: 100%;
  background: #2a9d8f;
  border-radius: 1.5rem;
  padding: 0.8rem;
  text-align: center;
}

.bar-title {
  color: beige;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Section principale */
.main-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50vh; /* Même hauteur pour les deux rectangles */
  margin-top: 2rem;
}

/* Image container = rect gauche*/
.image-container {
  width: 50%;
  height: 100%;
  background: rgba(3, 97, 191, 0.8);
  border-radius: 1rem;
  display: flex; /* Active Flexbox */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  overflow: auto; /* Évite les débordements */
  padding: 1rem;

}

/* Ajustement de l'image */
.image-preview {
  max-width: 100%;  /* Pour éviter que l'image dépasse */
  max-height: 100%;
  object-fit: contain; /* Conserve le ratio de l'image sans la couper */
  border-radius: 1rem;

}

/* Sidebar = rect droite*/
.sidebar {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(3, 97, 191, 0.9);
  padding: 1rem;
  border-radius: 1rem;
}

/* Texte qui s'ajuste automatiquement */
.option-text {
  color: beige;/*couleur texte*/
  font-weight: bold;/*texte en gras*/
  font-size: clamp(1rem, 1vw, 1rem); /* Définit la taille de la police de manière dynamique. Elle sera calculée en fonction de la largeur de la fenêtre du navigateur (avec vw pour les unités relatives à la largeur de la fenêtre), mais sera comprise entre 0.8rem (taille minimale) et 1rem (taille maximale). */
  padding: 0.5rem;
  text-align: center;/*Centre le texte horizontalement*/
  display: flex;
  align-items: center;
  justify-content: left;/*centre sur la flexbox*/ 
  gap: 0.5rem;/*Définit un écart de 0.5rem entre les éléments enfants dans le conteneur flex*/
  white-space: nowrap; /* Empêche les retours à la ligne */
  overflow: auto; /* cache le texte qui dépasse */
  text-overflow:ellipsis ;/*ajoute les points de suspension */
}


/* Boutons sous l'image */
.controls {
  display: flex;
  justify-content: space-between; /* Espacement égal */
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 35rem; /* Largeur entre les trois bouton de gauche et le download */
}

.button-arrow, .button-load, .button-download, .button_interference {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  background: #9cd8e5;

}

/* Bouton Download aligné avec la sidebar */
.button-download {
  width: 30%;
  height: 100%;
  background: rgb(255, 255, 255);
  color:#000;
  margin-left: 10rem; /* Décale le bouton à droite */
}

/* Effets sur le bouton download */
.button-download:hover {
  background: #9cd8e5; 
  color: #000; 
  transform: scale(1.03); /* Agrandir légèrement */
  transition: 0.3s; /* Animation fluide */
}
.button-download:active {
  transform: scale(0.95); 
}

/* Effets sur les boutons de navigation */
.button-arrow:hover {
  background: #ffffff; 
  color: #000; 
  transform: scale(1.03); /* Agrandir légèrement */
  transition: 0.3s; /* Animation fluide */
}
.button-arrow:active {
  transform: scale(0.95); 
}

/* Effets sur le bouton de chargement */
.button-load:hover {
  background: #ffffff; 
  color: #000; 
  transform: scale(1.03); /* Agrandir légèrement */
  transition: 0.3s; /* Animation fluide */
}
.button-load:active {
  transform: scale(0.95); 
}

/* boutton interference */
.button_interference {
  width: 30%;
  height: 100%;
  background: rgb(255, 255, 255);
  color:#000;
  margin-left: 2rem; /* Décale le bouton à droite */
}
/* Effets sur le bouton info */
.button_interference:hover {
  background: #9cd8e5; 
  color: #000; 
  transform: scale(1.03); /* Agrandir légèrement */
  transition: 0.3s; /* Animation fluide */
}
.button_interference:active {
  transform: scale(0.95); 
}


/* Pied de page 
#footer {
  position: fixed;  
  bottom: -100px;
  left: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem;
  transition: bottom 0.5s ease-in-out;
}

/* Classe qui s'ajoute via JS
.footer-visible {
  bottom: 0; Remonte le footer 
} */
